<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util='http://schemas.microsoft.com/wix/UtilExtension' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product
    Id="*"
    Name="BC Assessment Data Advice Toolset"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Selkirk Geospatial Research Centre (SGRC)"
    UpgradeCode="2aa2c9c4-ab85-4b5f-9a5c-8a1f034ec50c">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <FeatureRef Id="ProductFeature"/>
    <PropertyRef Id="NETFRAMEWORK35"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK35]]>
    </Condition>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BCA Data Advice Toolset" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Feature Id="ProductFeature" Title="BC Assessment Data Advice Toolset" Level="1">
      <ComponentRef Id="Antlr3.Runtime.dll"/>
      <ComponentRef Id="BCADataAdviceToolset.exe"/>
      <ComponentRef Id="BCADataAdviceToolset.exe.config"/>
      <ComponentRef Id="bcatools.exe" />
      <ComponentRef Id="bcatools.exe.config" />
      <ComponentRef Id="Copying.txt" />
      <ComponentRef Id="hibernate.cfg.xml" />
      <ComponentRef Id="Iesi.Collections.dll" />
      <ComponentRef Id="Iesi.Collections.xml" />
      <ComponentRef Id="License.txt" />
      <ComponentRef Id="LinFu.DynamicProxy.dll" />
      <ComponentRef Id="log4net.dll" />
      <ComponentRef Id="log4net.xml" />
      <ComponentRef Id="NHibernate.ByteCode.LinFu.dll" />
      <ComponentRef Id="NHibernate.ByteCode.LinFu.xml" />
      <ComponentRef Id="NHibernate.dll" />
      <ComponentRef Id="NHibernate.xml" />
      <ComponentRef Id="NHibernate.JetDriver.dll" />
      <ComponentRef Id="SGRC.BCATools.dll" />
      
    </Feature>
  </Fragment>
  
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER" FileSource="$(var.Source)">
      <Component Id="Antlr3.Runtime.dll" Guid="*">
        <File Name="Antlr3.Runtime.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="BCADataAdviceToolset.exe" Guid="*">
        <File Name="BCADataAdviceToolset.exe" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="BCADataAdviceToolset.exe.config" Guid="*">
        <File Name="BCADataAdviceToolset.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="bcatools.exe" Guid="*">
        <File Name="bcatools.exe" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="bcatools.exe.config" Guid="*">
        <File Name="bcatools.exe.config" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="Copying.txt" Guid="*">
        <File Name="Copying.txt" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="hibernate.cfg.xml" Guid="*">
        <File Name="hibernate.cfg.xml" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="Iesi.Collections.dll" Guid="*">
        <File Name="Iesi.Collections.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="Iesi.Collections.xml" Guid="*">
        <File Name="Iesi.Collections.xml" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="License.txt" Guid="*">
        <File Name="License.txt" KeyPath="yes" Checksum="yes"/>
      </Component>





      <Component Id="LinFu.DynamicProxy.dll" Guid="*">
        <File Name="LinFu.DynamicProxy.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="log4net.dll" Guid="*">
        <File Name="log4net.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="log4net.xml" Guid="*">
        <File Name="log4net.xml" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="NHibernate.ByteCode.LinFu.dll" Guid="*">
        <File Name="NHibernate.ByteCode.LinFu.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="NHibernate.ByteCode.LinFu.xml" Guid="*">
        <File Name="NHibernate.ByteCode.LinFu.xml" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="NHibernate.dll" Guid="*">
        <File Name="NHibernate.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="NHibernate.xml" Guid="*">
        <File Name="NHibernate.xml" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="NHibernate.JetDriver.dll" Guid="*">
        <File Name="NHibernate.JetDriver.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

      <Component Id="SGRC.BCATools.dll" Guid="*">
        <File Name="SGRC.BCATools.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

    </DirectoryRef>
  </Fragment>
</Wix>